Package: com.samgisaninja.malleus
Name: malleus
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: iOS 12.1 3D Touch sounds 
Maintainer: Sam Gardner
Author: Sam Gardner
Section: Tweaks
Version: 1.1-1+debug
Installed-Size: 108
